{% extends "base.html" %}
{% block title %}{{ type }} Workout{% endblock %}
{% block header %}{{ type }} Workout{% endblock %}
{% block content %}
	{% load bootstrap %}	
	<form class = "form-horizontal" method="POST" action="">
		<fieldset>
			{% csrf_token %}
			<div class="control-group{% if form.exercise.errors %} error{% endif %}">
				{{ form.exercise|bootstrap }}
			</div>
			<div class="control-group{% if form.time_of_workout.errors %} error{% endif %}">
				{{ form.time_of_workout|bootstrap }}
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ action }} workout
				</button>
		</fieldset>
	</form>
{% endblock %}