<!DOCTYPE HTML>
<html lang="en">
	<head>
	    <title>{% block title %}{% endblock %}</title>
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
		<style>
			body { padding-top: 60px; }
		</style>
		<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
			    <div class="container">
					<ul class="nav">
						<li class="{{ home_active }}"><a href= "{% url getfit.views.home %}">Home</a></li>
						<li class="{{ add_active }}"><a href= "{% url getfit.views.add %}">Add</a></li>
						<li class="{{ exercise_active }}"><a href= "{% url getfit.views.exercises %}">Exercises</a></li>
						<li class="{{ measure_active }}"><a href= "{% url getfit.views.measures %}">Measures</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="page-header">
				<h1>{% block header %}{% endblock %}</h1>
			</div>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>