{% extends "base.html" %}
{% block title %}Workouts{% endblock %}
{% block header %}Workouts{% endblock %}
{% block content %}
	<div class="span12">
		<table class="table table-bordered table-striped span6">
		    <tbody>
				{% for workout in workouts %}
					<tr>
						<td class="span2">
							<a href= "{% url getfit.views.workout workout.id %}">
								{{ workout.exercise }}</a> 
						</td>
						<td class="span3">
							{{ workout.time_of_workout|date:"l d F Y" }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<div class="pagination pagination-centered">
		<ul>
			<li><a href="?page=1">&laquo;</a></li>
	        {% if workouts.has_previous %}
				<li><a href="?page={{ workouts.previous_page_number }}">{{ workouts.previous_page_number }}</a></li>
	        {% else %}
				<li class="disabled"><a href="">...</a></li>
	        {% endif %}
			<li class="active"><a href="">{{ workouts.number }}</a></li>
	        {% if workouts.has_next %}
				<li><a href="?page={{ workouts.next_page_number }}">{{ workouts.next_page_number }}</a></li>
	        {% else %}
				<li class="disabled"><a href="">...</a></li>
	        {% endif %}
			<li><a href="?page={{ workouts.paginator.num_pages }}">&raquo;</a></li>
		</ul>
	</div>			
{% endblock %}
