{% extends "base.html" %}
{% block title %}{{ workout.exercise.name }}{% endblock %}
{% block header %}{{ workout.exercise.name }}{% endblock %}
{% block content %}
{% load tz %}
	<h2>{{ workout.time_of_workout|localtime|date:"l d F Y @ H:i" }}<br><br></h2>
	{% load bootstrap %}	
    <div class="container">
		<form class = "form-horizontal" method="POST" action="">
			<fieldset>
				{% csrf_token %}
				{% for field in form %}
					<div class="control-group">
						{{ field|bootstrap }}
					</div>
				{% endfor %}
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">
						Update workout
					</button>
					<a class="btn" href= "{% url getfit.views.edit workout.id %}">
						Edit this workout</a>
					<a class="btn btn-danger" href= "{% url getfit.views.delete workout.id %}">
						Delete this workout</a>
			</fieldset>
		</form>
	</div>
{% endblock %}
